.header {
  width: 100%;
  background-color: black;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-content {
  display: flex;
  justify-content: space-between;
  width: 95%;
}

.header-content button {
  width: 80px;
  height: 30px;
  border-radius: 5px;
  background-color: rgb(212, 21, 21);
  border: none;
  cursor: pointer;
  color: aliceblue;
  /* font-weight: bold; */
}
.user-display {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  width: 125px;
}

.header img {
  width: 200px;
}
