.toast-container {
  display: flex;
  justify-content: center;
}
.toast {
  /* border: 1px white solid; */
  position: absolute;
  color: white;
  margin-top: 10px;
  min-width: 90px;
  height: 30px;
  border-radius: 5px;
  text-align: center;
  padding-top: 8px;
  padding-right: 10px;
  padding-left: 10px;
  background-color: rgb(18, 188, 52);
  font-weight: bold;
  font-size: 14px;
}
