.title-div {
  /* border: 1px white solid; */
  padding: 15px;
  color: white;
  background-image: linear-gradient(black, transparent);
  height: 100vh;
}

.button-div {
  margin-top: 0.6rem;
}

.button-div button {
  margin-right: 6px;
  padding: 8px;
  width: 8rem;
  height: 2.5rem;
  background-color: rgb(111, 111, 111);
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
}

.button-div button:hover {
  background-color: rgb(186, 186, 186);
  color: black;
}
