.title-div {
  /* border: 1px white solid; */
  padding: 15px;
  color: white;
  background-image: linear-gradient(black, transparent);
  height: 100vh;
}

.inner-title-div {
  margin-top: 8%;
  margin-left: 24px;
}

.inner-title-div p {
  font-size: 1.1rem;
  width: 25%;
  margin-top: 4px;
  margin-bottom: 4px;
}

.inner-title-div span {
  font-weight: bold;
  font-size: 2rem;
}

.button-div {
  margin-top: 0.6rem;
}

.button-div button {
  margin-right: 6px;
  padding: 8px;
  width: 8rem;
  height: 2.5rem;
  background-color: rgb(111, 111, 111);
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
}

.button-div button:hover {
  background-color: rgb(255, 255, 255);
  color: black;
}

@media screen and (max-width: 900px) {
  .inner-title-div p {
    font-size: 1.1rem;
    width: 85%;
    margin-top: 4px;
    margin-bottom: 4px;
  }
}

@media screen and (max-width: 1274px) {
  .inner-title-div p {
    font-size: 1.1rem;
    width: 50%;
    margin-top: 4px;
    margin-bottom: 4px;
  }
}

@media screen and (max-width: 1128px) {
  .inner-title-div p {
    font-size: 1.1rem;
    width: 85%;
    margin-top: 4px;
    margin-bottom: 4px;
  }
}

@media screen and (max-width: 1035px) {
  .inner-title-div p {
    font-size: 1.1rem;
    width: 90%;
    margin-top: 4px;
    margin-bottom: 4px;
  }
}
